body {
    margin: 0;
    padding: 0;
}

#banner {
    height: 33%;
    width: 100%;
    padding: 0;
    display: block;
}

html, body, #mapid {
    height: 100%;
    width: 100%;
    padding: 0;
    display: block;
}


